[defaults]

inventory = /home/ybagga/Ansible_Project2/inventory
# forks 5 is default setting that Ansible will manage at most 5 host simaltaneiously
forks = 5
# Suppresses Python interpreter warnings on your ThinkPad
interpreter_python = auto_silent

 
